.baner
    position: relative
    min-height: 100vh
    background: url('../assets/baner-bg.jpg') no-repeat
    background-size: cover
    background-position: center
    overflow: hidden
    &__wrap
        display: flex
        justify-content: space-between
        padding-top: 50px
    &__hero
        padding-top: 160px
    &__title
        font-size: 69px
        color: #FFFFFF
        line-height: 100%
        margin-bottom: 30px
        & span
            font-size: 152px
            display: block
            line-height: 1
    &__text
        color: #fff
        margin-bottom: 48px
        max-width: 535px
    &__btn
    &__man
        height: 100%
        min-height: calc(100vh - 50px)
        transform: translateX(-15%)
        z-index: 1
    &__left-corner-anim
        pointer-events: none
        position: absolute
        left: 0
        bottom: 0
        transform: translate(-40%, 40%)
        width: 600px
        height: 800px
        z-index: 0
    &__right-corner-anim
        z-index: 0
        pointer-events: none
        position: absolute
        right: 0
        bottom: 0
        transform: translate(40%, 40%)
        width: 600px
        height: 800px

@media screen and (max-width: 1440px)
    .baner
        &__left-corner-anim
            width: 500px
            transform: translate(-40%, 45%)
        &__right-corner-anim
            width: 500px
            transform: translate(40%, 45%)

@media screen and (max-width: 1024px)
    .baner
        &__title
            font-size: 55px
            margin-bottom: 18px
            & span
                font-size: 120px
        &__man
            height: 100vh
            transform: translateX(-20%)

@media screen and (max-width: 768px)
    .baner
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
            background: url('../assets/baner-mobile-light.png') no-repeat
            background-size: cover
            width: 350px
            height: 350px
        // &__hero
        //     padding-top: 120px
        &__wrap
            flex-direction: column
        &__title
            text-align: center
        &__text
            margin: 0 auto
            text-align: center
        &__man
            height: auto
            min-height: auto
            margin: auto
            width: 60vw
            transform: translateX(0%)
        &__btn
            position: absolute
            bottom: -65vw
            left: 50%
            transform: translateX(-50%)
            z-index: 5
            min-width: 320px

@media screen and (max-width: 600px)
    .baner
        &__hero
            padding-top: 120px
        &__title
            margin-bottom: 0
        &__left-corner-anim
            width: 400px
        &__right-corner-anim
            width: 400px

@media screen and (max-width: 550px)
    .baner
        &__title
            font-size: 38px
            & span
                font-size: 85px
@media screen and (max-width: 500px)
    .baner
        &__man
            width: 80vw
        &__btn
            bottom: -85vw
@media screen and (max-width: 425px)
    .baner
        &__btn
            min-width: 315px
        &__left-corner-anim
            width: 300px
        &__right-corner-anim
            width: 300px
@media screen and (max-width: 393px)
    .baner
        &__title
            font-size: 29px
            & span
                font-size: 62px
        &__btn
            min-width: 280px
            bottom: -95vw
        &__man
            width: 90vw
@media screen and (max-width: 343px)
    .baner
        &__man
            width: 100vw
        &__btn
            bottom: -105vw