.start
    padding: 150px 0
    background: url("../assets/start-bg.jpg") no-repeat
    background-size: cover
    background-position-x: center
    background-position-y: center
    &__title
        text-align: center
        color: #fff
        margin-bottom: 36px
        text-transform: uppercase
        & span
            color: $primary
    &__text
        text-align: center
        color: #fff
        margin-bottom: 32px
    &__btn
        margin: 0 auto