@font-face
    font-family: 'Intro Black'
    src: url('../fonts/intro_black.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@import 'general'

@import 'header'
@import 'baner'
@import 'community'
@import 'payments'
